:root {
  --whiteColor: hsl(0, 0%, 100%);
  --patrickColor: hsl(219, 29%, 14%);
  --jonathanColor: hsl(217, 19%, 35%);
  --danielColor: hsl(263, 55%, 52%);
  --contentColor: hsl(0, 0%, 81%);
  --borderColor: hsl(263, 20%, 50%);
}

body {
  background-color: hsl(210, 46%, 95%);
  margin: 0;
  font-size: 13px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h2 {
  color: #fff;
}

h4, h5 {
  color: var(--contentColor);
}

h5 {
  opacity: 50%;
}

p {
  margin: 0;
  opacity: 70%;
}

.main-wrapper {
  padding: 8% 15%;
}

.wrapper {
  text-align: left;
  display: grid;
  grid-gap: 35px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "daniel daniel jonathan kira"
    "jeanette patrick patrick kira"
}

.card {
  border-radius: 10px;
  padding: 1.8rem;
  -webkit-box-shadow: 25px 10px 50px -12px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 25px 10px 50px -12px rgba(0, 0, 0, 0.19);
  box-shadow: 25px 10px 50px -12px rgba(0, 0, 0, 0.19);
}

.card-head {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.head-img {
  align-self: center;
  width: 30px;
  border-radius: 100px;
}

.card-name {
  margin-left: 10px;
}

.review-pgh {
  color: var(--contentColor);
}

.daniel {
  grid-area: daniel;
  background-color: var(--danielColor);
  /* width: 500px; */
}

.heading {
  width: 95%;
  margin: 20px 0;
}

.jonathan {
  grid-area: jonathan;
  background-color: var(--jonathanColor);
}

.kira {
  grid-area: kira;
  background-color: var(--whiteColor);
}

.kira .heading {
  color: var(--jonathanColor);
}

.kira p {
  opacity: 100%;
  line-height: 1.5;
}

.jeanette {
  grid-area: jeanette;
  background-color: var(--whiteColor);
}

.jeanette .heading {
  color: var(--jonathanColor);
}

.jeanette h2 {
  width: 80%;
}

.jeanette p {
  line-height: 1.5;
}

.patrick {
  grid-area: patrick;
  background-color: var(--patrickColor);
}

.attribution {
  left: 45%;
  font-size: 11px;
  align-self: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 1600px) {
  .main-wrapper {
    padding: 7% 10%;
  }
}

@media (max-width: 1320px) {
  .main-wrapper {
    padding: 7% 9%;
  }
}

@media (max-width: 1170px) {
  .main-wrapper {
    padding: 6% 4%;
  }
}

@media (max-width: 1000px) {
  .main-wrapper {
    padding: 5% 1%;
  }
}

@media (max-width: 900px) {
  body {
    font-size: 1rem;
  }

  .main-wrapper {
    padding: 6% 8%;
  }

  .wrapper {
    text-align: left;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "daniel"
      "jonathan"
      "jeanette"
      "kira"
      "patrick"
  }
}